<footer>
    <div class="cnt _bg _radius _aos _py-1">
        <div class="grid">
            <div>Using <b><a href="https://tabler-icons.io/">Tabler Icons</a> (<a
                        href="https://github.com/tabler/tabler-icons/blob/master/LICENSE"
                        class="_txt">MIT</a>)</b> & 
						<b><a href="https://simpleicons.org/">simpleicons</a> (<a
							href="https://github.com/simple-icons/simple-icons/blob/develop/LICENSE.md"
							class="_txt">CC0-1.0</a>)</b>
            </div>
			<div>
				This website use <b><a href="https://umami.is/" target="_blank">Umami</a></b> for privacy-focused analytics
			  </div>
            <div>
                Designed and built with by <b><a href="https://d3ward.github.io">Ursu Eduard (d3ward</a>)</b> © 2022
            </div>
            <div>
                Licensed under <b><a
                        href="https://creativecommons.org/licenses/by-nc-sa/4.0/">[NC-SA-4.0]</a></b>
            </div>
        </div>
    </div>
</footer>