//Gray

$gray-50:#f9fafb
$gray-100:#f3f4f6
$gray-200:#e5e7eb
$gray-300:#d1d5db
$gray-400:#9ca3af
$gray-500:#6b7280
$gray-600:#4b5563
$gray-700:#374151
$gray-800:#1f2937
$gray-900:#111827
//Blue
$blue-50: #E0F1FF
$blue-100: #C2E2FF
$blue-200: #8AC8FF
$blue-300: #4DACFF
$blue-400: #1492FF
$blue-500: #0074D8
$blue-600: #005CAD
$blue-700: #004480
$blue-800: #002E57
$blue-900: #001629
//Green
$green-50: #E9FBF0!default
$green-100: #CFF7DE!default
$green-200: #9FEFBC!default
$green-300: #6FE69B!default
$green-400: #40DE7A!default
$green-500: #22C55E!default
$green-600: #1B9D4B!default
$green-700: #147538!default
$green-800: #0D4E25!default
$green-900: #072713!default
//Red
$red-50: #FFECEB
$red-100: #FFD9D6
$red-200: #FFB3AD
$red-300: #FF8D85
$red-400: #FF675C
$red-500: #FF4132
$red-600: #F51000
$red-700: #B80C00
$red-800: #7A0800
$red-900: #3D0400
//Orange
$orange-50: #FFF4EB
$orange-100: #FFE7D1
$orange-200: #FFCEA3
$orange-300: #FFB675
$orange-400: #FF9D47
$orange-500: #FF851B
$orange-600: #E06900
$orange-700: #A84F00
$orange-800: #703400
$orange-900: #381A00
//Purple
$purple-50: #f7f2fc
$purple-100: #dfccf4
$purple-200: #c7a6ec
$purple-300: #b080e5
$purple-400: #985add
$purple-500: #8034d5
$purple-600: #6b2bb2
$purple-700: #55228f
$purple-800: #40186b
$purple-900: #2a0f48

$white-0: #fff 
$white-50: #fafafa
$white-100:#dbdbdb

$black-0: #000
$black-50: #101010
$black-100: #4d4d4d
