<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font list</title>
    <meta name="description" content="List fonts available in the browser ">

    
</head>

<body>
    <%- include('partials/header.ejs', {page:'fontlist'}) %>
    <main>
        <div class="hero ">
            <p>Show a list of available fonts in your browser</p>
        </div>
        <div id="flist">

        </div>
       
    </main>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/gotop.ejs') %>
</body>
</html>