<div class="dialog" id="dlg_changelog" aria-labelledby="dlg_changelog-title" aria-hidden="true">
	<div class="dialog-overlay" data-a11y-dialog-hide></div>
	<div class="dialog-content">
		<header>
			<h3 id="dlg_changelog-title">Toolz 3.0.0 </h3>
			<button data-a11y-dialog-hide><svg class="w-6 h-6" id="close-icon" fill="none" stroke="currentColor"
					viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
					</path>
				</svg></button>
		</header>
		<section>
			<div class="grid better_r">
				<div class="_txt-center">
					<h1 class="_p-1">Thank you! 🎉</h1>
				</div>
				<div>
					<h2>More than 2 million tests so far</h2>
				</div>
				<div>
				<div class="card _mt-1 _p-1 _bg3 _shadowless">
					<p>
						I would like to take a moment to express my gratitude for your support of <b>Toolz</b> over the past 3 years.<br>
						Your contributions have been invaluable, from sharing it with your communities to providing feedback that has helped me improve the project.
						</p>
						<p>
						I'm pleased to announce the release <b>3.0.0</b> of Toolz with several new features that I believe will improve your experience even more.<br>
						<h5>#Changelog</h5>
						<ul class="keep-ls">
							<li>Overall design improvement</li>
							<li>Improved project structure and tooling</li>
							<li>Adblock 
								<ul class="keep-ls">
									<li>New design , colors and animations</li>
									<li>Cosmetic Filter and Script tests</li>
									<li>Updated , cleaned and optimized host list</li>
									<li>History and logs of tests (max 10)</li>
									<li>Compatibility table</li>
								</ul>
							</li>
							<li>Fontlist
								<ul class="keep-ls">
									<li>New layout design</li>
									<li>Added 200+ standard font test</li>
									<li>New feature to preview the font and generate CSS</li>
								</ul>
							</li>
							<li>Units
								<ul class="keep-ls">
									<li>New desgin</li>
									<li>Feature improvement with 5 CSS units </li>
									<li>Live innerHeight value</li>
								</ul>
							</li>
						</ul>
						<p>Thank you again for your support.</p>
							Best regards,<br>
							d3ward
					</p>
				</div>
			</div>
			</div>
		</section>
		<footer>
			<button  data-a11y-dialog-hide>
				Close
			</button>
		</footer>
	</div>
</div>