<div class="dialog" id="dlg_changelog" aria-labelledby="dlg_changelog-title" aria-hidden="true">
	<div class="dialog-overlay" data-a11y-dialog-hide></div>
	<div class="dialog-content">
		<header>
			<h3 id="dlg_changelog-title">Toolz 3.1.2 </h3>
			<button data-a11y-dialog-hide><svg class="w-6 h-6" id="close-icon" fill="none" stroke="currentColor"
					viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
					</path>
				</svg></button>
		</header>
		<section>
			<div class="grid better_r">
				
				<div style="flex-direction: column; display: flex;gap:0.5rem;">
					<div class="card _mt-1 _p-1 _bg3 _shadowless">
						<h5>#Changelog 8/05/2024 </h5>
						<ul class="keep-ls">
							<li>Updated hosts list</li>
							<li>Removed some advertising hosts that were used for administration and not to serve ads.</li>
							<li>Added details for cosmetic and script tests</li>
							<li>Moved warning card for better UX</li>
						</ul>
					</div>
					<div class="card _mt-1 _p-1 _bg3 _shadowless">
						<h5>#Changelog 10/02/2024 </h5>
						<ul class="keep-ls">
							<li>Updated hosts list</li>
							<li>Added rules to .adblock file</li>
							<li>Removed partner.ads script </li>
							<li>Cosmetic and script tests set to 1 point each</li>
							<li>Improved hosts test with fake 404 page</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<button data-a11y-dialog-hide>
				Close
			</button>
		</footer>
	</div>
</div>