<div class="dialog" id="dlg_faq" data-a11y-dialog="dlg_faq" aria-labelledby="dlg_faq-title" aria-hidden="true">
	<div class="dialog-overlay" data-a11y-dialog-hide></div>
	<div class="dialog-content">
		<header>
			<h3 id="dlg_faq-title">FAQ</h3>
			<button data-a11y-dialog-hide><svg class="w-6 h-6" id="close-icon" fill="none" stroke="currentColor"
					viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
					</path>
				</svg></button>
		</header>
		<section>
			<div class="better_r">
				<h2>How does it work?</h2>
				<b class="_txt-red"><i>You will not see any ads and no trackers will be activated </i></b><br><br>
				<div class="row keep-width">
					<div>
						<div class="card _h-100">
							<div class="_f-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="var(--green)" width="24" height="24"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
									stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
								</svg>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-width="2" stroke="var(--green)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"></path><circle cx="12" cy="12" r="9"></circle><path d="M9 12l2 2 4-4"></path></svg>
								
								&nbsp; <b>Blocked</b>
							</div>
							If the connection to a host/script fails or a box is removed means the latter has been
							blocked by your
							ad-blocker
						</div>
					</div>
					<div>
						<div class="card">
							<div class="_f-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="var(--red)" width="24" height="24"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
									stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
								</svg>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-width="2" stroke="var(--red)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"></path><circle cx="12" cy="12" r="9"></circle><path d="M10 10l4 4m0-4l-4 4"></path></svg>
								&nbsp; <b>Not Blocked</b>
							</div>
							Connection to a host did not fail or box is not removed, means that your ad-blocker did not
							block it or doesn't work
						</div>
					</div>
				</div>
				<p>After tests are completed , you get a liquid color ball with points.<br>
					Points are calculated based on your tests for each category and type <br>
					The color fits your points range <br>
					Here a preview of 3 scenarios :</p>
				<div class="template_wrap row keep-width ">
					<div>
						<div class="lt_cwrap lt_template" style="--liquid-color:var(--red);--liquid-percentage:10%">
							<div class="lt_circle">
								<div class="lt_wave"></div>
							</div>
						</div>
					</div>
					<div>
						<div class="lt_cwrap lt_template" style="--liquid-color:var(--orange);--liquid-percentage:0%">
							<div class="lt_circle">
								<div class="lt_wave"></div>
							</div>
						</div>
					</div>
					<div>
						<div class="lt_cwrap lt_template" style="--liquid-color:var(--green);--liquid-percentage:-30%">
							<div class="lt_circle">
								<div class="lt_wave"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row keep-width">
					<div>
						<div class="lt_value_2 _bg-red">
							Cmon , use an adblock or smth
						</div>
					</div>
					<div>
						<div class="lt_value_2 _bg-orange">
							Ok, but you can do better
						</div>
					</div>
					<div>
						<div class="lt_value_2 _bg-green">
							Great, you're ready to surf
						</div>
					</div>
				</div>
				<br>
				The tests consist of 3 types
				<ul style="list-style: disc;">
					<li>Cosmetic Filter : Check if you are hiding/removing the empy boxes of ads, cookie policy etc.
					</li>
					<li>Script Loading : Check if you are blocking a possible ad script loading or trackers</li>
					<li>Host : Check if you block domains that provide trackers, analytics or ads</li>
				</ul>
				<br>
				<hr><br>
				<h3>I'm sure my ad-block solution is configured correctly, but the test does not work.</h3>
				<p>
					It would appear that your current configuration is not compatible with the type of checks carried out by this tool.<br>
					However, please note that this does not mean that there is a lack of protection provided by the solution you have configured, such as an ad blocking extension, a VPN or a DNS.<br>
					The limitations of JavaScript or the absence of certain features may prevent the test from being able to accurately determine the number of connections that are blocked.<br>
					You will still receive an estimate of the percentage of connections that have been blocked/detected by this tool
				</p>
				<div class="_py-1"><button data-a11y-dialog-show="dlg_compatibility">
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-square" width="24" height="24"
							viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
							stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<line x1="12" y1="8" x2="12.01" y2="8"></line>
							<rect x="4" y="4" width="16" height="16" rx="2"></rect>
							<polyline points="11 12 12 12 12 16 13 16"></polyline>
						</svg> Check Compatibility</button></div>
				<br>
				<hr><br>
				<h2>How I can have 100%</h2>
				<p>
					A green score indicates a satisfactory level of protection.<br>
					There is no need to aim for a perfect score.<br>
					However, if you are interested in achieving full 100% protection, you can use my d3Host List, which covers most of the tests on the site (excluding cosmetic filters and script loading). 
					This should help to improve your score.
				</p>
				<div class="grid keep-width _mt-1">
					<div>
						<button class="btn-blue" id="d3H_txt">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<rect x="8" y="8" width="12" height="12" rx="2"></rect>
								<path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
							 </svg>
							d3Host List (TXT)</button>
					</div>
					<div>
						<button class="btn-blue" id="d3H_adblock">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<rect x="8" y="8" width="12" height="12" rx="2"></rect>
								<path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
							 </svg>
							d3Host List (ADBLOCK)</button>
					</div>
				</div>
				<br>
				<hr><br>
				<h2>My ad-blocking solutions</h2>
				<p>
					I use <a id="dnsfilter-link" href="https://www.dnsfilter.com/" class="umami--click--dnsfilter-link">DNSFilter</a> as main DNS resolver<br>
					Plus these combo on each platform : 
				</p>
				
				<ul class="keep-ls">
					<li>Windows : Brave + ublock-Origin</li>
					<li>MacOS : Brave + ublock-Origin</li>
					<li>Android : Kiwi Browser + ublock-Origin</li>
					<li>iOS : Safari + Adguard Extension</li>
				</ul>
				<div class="_cnt-grid-wrap">
					<a href="https://ublockorigin.com/" class="btn">uBlock Origin </a>
					<a href="https://adguard.com/it/adguard-ios/overview.html" class="btn">Adguard for iOS</a>
				</div>
				
				Lists I have set on ad blocking solutions :
				<ul class="keep-ls">
					<li>OISD List (includes my list)</li>
					<li>Peter Lowe’s Ad and tracking server list </li>
					<li>uBlock filters</li>
					<li>EasyList</li>
					<li>Adguard Lists</li>
				</ul>
				<h2>Test tools for your adblock </h2>
				<p>
					I created this project to quickly test my small list of most common hosts.<br>
					I wanted to build something with a great design and user experience that was pretty straightforward for any type of user.<br>
					There are other great tools that I use and would like to recommend
				</p>
				<div class="_cnt-grid-wrap">
					<a href="https://canyoublockit.com/" class="btn" target="_blank">CanYouBlockIt</a>
					<a href="https://ipleak.net/" class="btn" target="_blank">IP Leak </a>
					<a href="https://blockads.fivefilters.org/" class="btn" target="_blank">Block Ads Test </a>
					<a href="https://panopticlick.eff.org/" class="btn" target="_blank">Browser Fingerprint by EEF</a>
					<a href="http://raymondhill.net/ublock/tiles1.html" class="btn" target="_blank">Adblock Testing by
						raymondhill</a>
					<a href="http://raymondhill.net/ublock/popup.html" class="btn" target="_blank">Popup Blocker by
						raymondhill</a>
				</div>
			</div>
		</section>
		<footer>
			<button data-a11y-dialog-hide>
				Close
			</button>
		</footer>
	</div>
</div>