<div class="dialog" id="dlg_reports" data-a11y-dialog="dlg_reports"
	aria-labelledby="dlg_reports-title"
	aria-hidden="true">
		<div class="dialog-overlay" data-a11y-dialog-hide></div>
      <div class="dialog-content">
        <header>
          <h3 id="dlg_reports-title">Latest Test Results</h3>
          <button data-a11y-dialog-hide><svg class="w-6 h-6" id="close-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg></button>
        </header>
        <section style="width: 100%">
			<p>Below is a preview of your last 10 test results.<br>
				You can download the full report for sharing </p>
			<div class="r_wrap grid">

            </div>
        </section>
        <footer>
			<button  data-a11y-dialog-hide>
				Close
			  </button>
		 
        </footer>
      </div>
    </div>